.cards {

	&-body {
		display: grid;
		align-self: center;
		grid-template-columns: 500px 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 16px;

		@include laptop() {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: auto;
		}

		@include desktop() {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}

		@include mobile() {
			grid-template-columns: 1fr ;
			grid-template-rows: auto;
			gap: 12px;
		}

	}
}

.card {
	//flex: 0 1 272px;
	height: 270px;
	padding: 22px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: space-between;
	border-radius: 8px;
	border: 1px solid $color-gray-200;
	background: $color-gray-100;

	@include mobile() {
		padding: 20px;
		height: 200px;
	}

	&:nth-child(1) {
		flex: 0 1 500px;
	}

	&-icon {

		svg {
			width: 48px;
			height: 48px;

			@include mobile() {
				width: 32px;
				height: 32px;
			}
		}
	}



	&-name {
		margin: auto 0 0 0;
	}

	&-text {
		margin: 12px 0 0 0;

		@include mobile() {
			margin: 0;
		}
	}
}
