.footer {
	display: flex;
	margin-top: auto;
	width: 100%;
	padding: 160px 0 0 0;
	background-color: $color-gray-100;

	@include mobile() {
		padding: 120px 0 0 0;
	}

	&-content {
		display: flex;
		gap: 10px;

		@include tablet() {
			flex-direction: column;
			gap: 80px;
		}

		&__column {
			flex: 0 1 50%;
			display: flex;
			flex-direction: column;
			gap: 40px;


		}

		&__info {

			&-contact {
				color: $color-gray-900;
				font-family: $font-family-roboto-condensed;
				font-size: 36px;
				font-style: normal;
				font-weight: 500;
				line-height: 1.22;
				letter-spacing: -0.36px;
				text-transform: uppercase;

				&:hover {
					color: #2E85FF;
				}

				@include mobile() {
					font-size: 26px;
					font-weight: 500;
					line-height: 1.31;
					letter-spacing: -0.26px;
				}
			}

			&-note {
				color: $color-gray-600;
			}

			&-socials {
				display: flex;
				align-items: center;
				gap: 12px;

				&-btn {

				}
			}

		}

		&__address {


			&-title {
				margin: 0 0 12px 0;
			}

			&-info {
				color: $color-gray-600;
				max-width: 500px;
			}
		}


	}

	&-bottom {
		margin: 160px 0 0 0;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 40px 0;
		color: $color-gray-500;
		font-family: $font-family-golos;
		font-size: 15px;
		line-height: 1.2;
		border-top: 1px solid $color-gray-200;

		@include tablet() {
			flex-direction: column;
			align-items: flex-start;
		}

		@include mobile() {
			gap: 32px;
			margin: 80px 0 0 0;
		}

		&__left {
			flex: 0 1 50%;
			display: flex;
			align-items: center;
			gap: 32px;
			white-space: nowrap;

			@include mobile() {
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
			}

			&-copyright {
				//white-space: nowrap;
			}

			&-link-pdn {

				&:hover {
					color: #6C757D;
				}
			}
		}

		&__right {
			white-space: nowrap;
			flex: 0 1 50%;

			a {

				&:hover{
					color: #6C757D;
				}
			}
		}
	}
}
