.section-about {
	padding: 160px 0;
	background-color: $color-gray-100;

	@include tablet() {
		padding: 120px 0 140px;
	}

	&__body {

	}
	&__header {
		display: flex;
		align-items: flex-start;
		//justify-content: space-between;
		gap: 16px;
		margin: 0 0 160px 0;

		@include tablet() {
			flex-direction: column;
			margin: 0 0 120px 0;
		}
	}
	&__title {
		flex: 0 1 500px;

		@include tablet() {
			flex: 0 1 auto;
		}

		@include tablet() {
			flex: 0 1 auto;
		}
	}
	&__text {
		flex: 0 1 680px;
		display: flex;
		flex-direction: column;
		gap: 32px;

		@include tablet() {
			flex: 0 1 auto;
			gap: 24px;
		}
	}
	&__subtitle {
		color: $color-gray-900;
		font-family: $font-family-roboto-condensed;
		font-size: 22px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.36; /* 136.364% */
		letter-spacing: 0.11px;
		text-transform: uppercase;
	}
	&__description {

		p {

			&:not(:last-child) {
				margin: 0 0 15px 0;

				@include tablet() {
					margin: 0;
				}
			}
		}
	}

	.card:nth-child(2) {
		.card-name {
			max-width: 150px;

			@include mobile() {
				max-width: none;
			}
		}
	}
}
