.section-request {
	margin: 12px 32px;
	padding: 80px 0;
	position: relative;

	@include laptop() {
		margin: 12px 16px;
	}

	@include mobile() {
		margin: 12px 0;
	}

	&__body {

	}

	&__form {
		background-color: $color-white;
		padding: 52px;
		border-radius: 12px;
		max-width: 604px;
		margin: 0 auto;

		@include tablet() {
			padding: 40px 24px;
		}


		&-title {
			text-align: center;
			margin: 0 0 40px 0;
		}

	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url(../images/bg2.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 12px;
	}
}
