.section-problems {
	padding: 160px 0 140px 0;
	background-color: $color-white;
	border-radius: 0 0 12px 12px;
	margin: 0 32px;

	@include laptop() {
		margin: 0 12px;
	}

	@include mobile() {
		margin: 0;
	}

	&__title {
		margin: 0 0 40px 0;
		text-align: center;
	}

	&__cards {}
}
