.section-services {
	padding: 140px 0 0 0;
	background-color: $color-white;
	border-radius: 12px 12px 0 0;
	margin: 0 32px;

	@include laptop() {
		margin: 0 12px;
	}

	@include tablet() {
		padding: 120px 0 0 0;
	}

	@include mobile() {
		margin: 0;
	}

	&__title {
		max-width: 1030px;
		margin: 0 auto 52px;
		text-align: center;

		@include tablet() {
			margin: 0 auto 40px;
		}

		@include mobile() {
			text-align: left;
		}

	}

	&-assortment {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px;

		&__card {
			flex: 1 1 676px;
			height: 300px;
			position: relative;
			border-radius: 8px;
			background-color: $color-gray-100;
			border: 1px solid transparent;
			padding: 32px;
			overflow: hidden;
			cursor: pointer;

			&:hover {
				border: 1px solid $color-gray-200;

				.section-services-assortment__card-arrow {
					background-color: $color-blue-300;
					border: 1px solid $color-blue-300;

					span {
						svg {
							stroke: $color-white;
						}
					}
				}
			}

			@include tablet() {
				padding: 20px;
			}

			@include mobile() {
				height: auto;
			}

			&:nth-child(3n) {
				flex: 1 1 100%;

				.section-services-assortment__card-image {
					max-width: 800px;
					width: 100%;
					height: auto;
				}
			}

			&:nth-child(3),
			&:nth-child(5),
			&:nth-child(6) {
				.section-services-assortment__card-image {


					@include desktop() {
						max-width: 300px;
						width: 100%;
					}

					@include mobile() {
						width: 300px;
						margin: 0 -20px -20px auto !important;

					}
				}

			}

			&-info {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				max-width: 500px;
			}

			&-title {
				max-width: 370px;
				position: relative;
				z-index: 2;
			}

			&-text {
				margin: 16px 0 0 0;
				position: relative;
				z-index: 2;
			}

			&-arrow {
				margin: auto 0 0 0;
				border-radius: 28px;
				border: 1px solid $color-gray-200;
				background-color: $color-gray-100;
				padding: 16px;
				transition: background-color $duration-normal, border $duration-normal;

				span {
					svg {
						width: 24px;
						height: 24px;
						stroke: #212529;
						stroke-width: 2;
						transition: stroke $duration-normal;
					}
				}

				@include mobile() {
					position: absolute;
					bottom: 20px;
					border: 1px solid #1366DE;
					z-index: 1;
					right: 20px;
					background-color: #1366DE;
					span {
						svg {
							stroke: $color-white;
						}
					}
				}
			}

			&-image-desctop {
				@include desktop() {
					display: none;
				}
			}

			&-image-mobile {
				display: none;
				@include desktop() {
					display: block;
				}
			}

			&-image {
				position: absolute;
				width: 300px;
				height: 300px;
				right: 0;
				bottom: 0;

				@include mobile() {
					position: relative;
					height: auto;
					margin: 0 auto -20px;
				}
			}
		}
	}
}
