.section-ask-question {
	padding: 80px 0 140px;
	background-color: $color-white;
	border-radius: 0 0 12px 12px;
	margin: 0 32px;

	@include tablet() {
		margin: 0 16px;
	}

	@include mobile() {
		padding: 140px 0 120px;
		margin: 0;

	}

	&__body {
		display: flex;
		gap: 15px;

		@include tablet() {
			flex-direction: column;
			gap: 40px;
		}
	}

	&__title {
		flex: 0 1 50%;

		h2 {
			max-width: 500px;
		}
	}

	&__form {
		flex: 0 1 500px;

		&-field {


		}
	}

	.form__field-input-textarea {
		min-height: 128px;
	}
}
