.section-orders {
	padding: 150px 0 80px;
	border-radius: 12px;
	background: $color-white;
	position: relative;

	&__title {
		display: flex;
		align-items: center;
		margin: 0 0 46px 0;
		height: 56px;
	}

	&__slides {

	}

	&__slider {
		position: relative;
		overflow: visible;
	}

	&__slide {
		min-height: 480px;
		padding: 32px;
		display: flex;
		gap: 16px;
		justify-content: space-between;
		border-radius: 12px;
		border: 1px solid $color-gray-200;
		background-color: $color-white;

		&-left {
			flex: 0 1 470px;
		}
		&-right {
			flex: 0 1 650px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&-title {
			max-width: 350px;
		}

		&-tags {
			display: flex;
			flex-wrap: wrap;
			gap: 6px;
			margin: 16px 0 0 0;
		}

		&-tag {
			display: inline-block;
			padding: 8px 10px;
			border-radius: 8px;
			border: 1px solid $color-gray-200;
			background-color: $color-gray-100;
			color: $color-gray-600;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 1.33;
			letter-spacing: -0.06px;
			text-transform: uppercase;
		}

		&-customer {

			&-name {
				color: $color-gray-900;
			}
			&-about {
				margin: 4px 0 0 0;
				color: $color-gray-500;
			}
		}

		&-text {
			overflow: hidden;
			//height: 100%;
			//max-height: 200px;
			color: $color-gray-700;

			p {

				&:not(:last-child) {
					margin: 0 0 20px 0;
				}
			}
		}

		&-additions {

		}
	}
}
