.section-procedure {
	padding: 140px 0 130px;
	border-radius: 12px;
	background-color: $color-white;
	margin: 0 32px;

	@include laptop() {
		margin: 0 12px;
	}

	@include tablet() {
		padding: 120px 0 80px;
	}

	@include mobile() {
		margin: 0;
	}

	&__title {
		text-align: center;
		margin: 0 0 52px 0;

		@include tablet() {
			text-align: left;
			margin: 0 0 30px 0;
		}
	}

	&__steps {
		display: flex;
		flex-direction: column;
		max-width: 1030px;
		align-items: flex-start;
		justify-content: center;
		margin: 0 auto;
	}

	&__step {
		display: flex;
		align-items: flex-start;
		gap: 24px;
		padding: 32px 0;
		width: 100%;

		@include tablet() {
			flex-direction: column;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $color-gray-200;
		}

		&-number {
			font-family: $font-family-roboto-condensed;
			flex: 0 0 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			color: $color-gray-600;
			padding: 7px 6px 5px 6px;
			border-radius: 24px;
			border: 1px solid $color-gray-200;
			background-color: $color-white;
		}

		&-info {
			flex: 0 1 790px;

			@include tablet() {
				flex: 0 1 auto;
			}
		}

		&-title {
			padding: 4px 0 0 0;

			@include tablet() {
				padding: 0;
			}
		}

		&-text {
			margin: 24px 0 0 0;

			@include tablet() {
				margin: 16px 0 0 0;
			}
		}
	}
}
