// section-primary
section.main-section-primary
	.container
		.main-section-primary__info
			h1.h1.main-section-primary__info-title Организуем поставку импортных материалов и&nbsp;их&nbsp;аналогов
			.main-section-primary__info-buttons
				a.main-section-primary__btn-request.btn.btn-blue.btn-l.button-text-l(data-modal="request") Оставить заявку
				a.main-section-primary__btn-question.btn.btn-l.button-text-l(data-modal="question") Задать вопрос
	.main-section-primary__bg

