-
	var data = [
		{
			name: 'Подбор',
			text: 'Находим то, что вы хотите в странах, не участвовавших в соглашении',
			svg: 'search-earth'
		},
		{
			name: `Закупка`,
			text: 'Сами конвертируем рубли в нужную валюту',
			svg: 'currency-convert'
		},
		{
			name: 'Оформление',
			text: 'Гарантируем чистоту сделки и предоставляем необходимые документы',
			svg: 'clipboard-text'
		},
		{
			name: 'Языковой барьер',
			text: 'Сотрудники владеют Турецким, Китайским и Английским языком',
			svg: 'translate'
		},
	]
// section-problems
section.section-problems#about
	.container
		h2.h2.section-problems__title Решение проблем берем на себя
		.section-problems__cards
			+cards(data)


