-
	var partners = ['basf', 'lika', 'master-builders', 'akzonobel', 'jcb']
// section-partners
section.section-partners#about
	.container
		h2.h2.section-partners__title Наши партнеры и заказчики
		p.section-partners__subtitle.text-m С нами сотрудничают крупнейшие предприятия из сфер: черной и цветной металлургии, горнорудной и угольной промышленности, нефтедобывающей и нефтеперерабатывающей промышленности.
		.section-partners__logos
			for logo in partners
				.section-partners__logo
					img(src=`./images/partners/${logo}.svg`)
