footer.footer#contacts
	.container
		.footer-content
			.footer-content__column
				.footer-content__info
					a.footer-content__info-contact(href="tel:+74993488749") +7 (499) 348-87-49
					p.footer-content__info-note.text-m-compact Звонок бесплатный
				.footer-content__info
					a.footer-content__info-contact(href="mailto: info@santey.org") info@santey.org
					p.footer-content__info-note.text-m-compact По всем вопросам
				.footer-content__info
					.footer-content__info-socials
						a.footer-content__info-socials-btn.social-btn.whats-app-btn(target="_blank", href="#")
							+svg('whats-app-icon')
						a.footer-content__info-socials-btn.social-btn.vk-app-btn(target="_blank", href="#")
							+svg('vk-icon')
			.footer-content__column
				.footer-content__address
					h3.h3.footer-content__address-title Офис
					p.footer-content__address-info.text-m-compact 142100, Московская обл., г. Подольск, <br> ул. Федорова, д. 34, ЭТ/ПОМ/КАБ 2/1/202
				.footer-content__address
					h3.h3.footer-content__address-title Склад
					p.footer-content__address-info.text-m-compact Московская область , городской округ Подольск, <br> Индустриальный Парк Коледино
		.footer-bottom
			.footer-bottom__left
				.footer-bottom__left-copyright
					span.footer-bottom__left-copyright-year
					|, Santey
				a.footer-bottom__left-link-pdn(href='#') Обработка персональных данных
			.footer-bottom__right
include ./modals/index
