-
	var menu = [
		{
			name: 'О нас',
			link: '#about'
		},
		{
			name: 'Услуги',
			link: '#services'
		},
		{
			name: 'Выполненные заказы',
			link: '#orders'
		},
		{
			name: 'Помощь с поиском',
			link: '#ask-question'
		},
		{
			name: 'Контакты',
			link: '#contacts'
		},
	]

header.header
	.header__body
		.header__logo
			+svg("logo")
		nav.header__nav
			.header__nav-body
				ul.header__nav-list
					for item in menu
						li.header__nav-item
							a.header__nav-link(href= item.link )= item.name
				.header__nav-mobile
					.header__nav-mobile-buttons
						a.header__nav-mobile-button-request.btn.btn-blue.btn-l.button-text-l(data-modal="request") Оставить заявку
						a.header__nav-mobile-button-question.btn.btn-l.button-text-l(data-modal="question") Задать вопрос
					.header__nav-mobile-footer
						.footer-content__column
							.footer-content__info
								a.footer-content__info-contact(href="tel:+74993467422") +7 (499) 346-74-22
								p.footer-content__info-note.text-m-compact Звонок бесплатный
							.footer-content__info
								a.footer-content__info-contact(href="mailto: info@santey.org") info@santey.org
								p.footer-content__info-note.text-m-compact По всем вопросам
							.footer-content__info
								.footer-content__info-socials
									a.footer-content__info-socials-btn.social-btn.whats-app-btn(target="_blank", href="#")
										+svg('whats-app-icon')
									a.footer-content__info-socials-btn.social-btn.vk-app-btn(target="_blank", href="#")
										+svg('vk-icon')
						.footer-content__column
							.footer-content__address
								h3.h3.footer-content__address-title Офис
								p.footer-content__address-info.text-m-compact 142100, Московская обл., г. Подольск, ул. Федорова, д. 34, ЭТ/ПОМ/КАБ 2/1/202
							.footer-content__address
								h3.h3.footer-content__address-title Склад
								p.footer-content__address-info.text-m-compact Московская область , городской округ Подольск, Индустриальный Парк Коледино

		.header__right
			a.header__right-phone(href="tel:+74993467422")(data-modal="phone")
				span +7 (499) 346-74-22
				.header__right-phone-icon
					+svg("phone")
			a.header__right-button.header__right-button-request.btn.btn-blue.btn-m.button-text-m(data-modal="request") Оставить заявку
			a.header__right-button-burger
				.header__right-button-burger-icon
					+svg("burger")
				.header__right-button-burger-close.hide
					+svg("close")
