mixin cards(data)
	.cards&attributes(attributes)
		.cards-body
			for item in data
				.card
					.card-icon
						+svg(item.svg)
					h3.h3.card-name= item.name
					if (item.text)
						p.card-text.text-m-compact= item.text

