// Modal Request
#modal-request.modal
	.modal__window.modal-request
		.modal__close-wrap
			button.modal__close-btn.js-modal-close
		.container
			.modal__body
				.modal__body-left
					h2.h2.modal__title Оставить заявку
					.modal__text.text-m-compact
						p Менеджер свяжется с вами в ближайшее время.
						p Либо напишите нам на почту <a href="mailto:info@santey.org">info@santey.org</a> или в соцсети
					.modal__socials
						a.modal__socials-btn.social-btn.whats-app-btn(target="_blank", href="#")
							+svg('whats-app-icon')
						a.modal__socials-btn.social-btn.vk-app-btn(target="_blank", href="#")
							+svg('vk-icon')
				.modal__body-right
					form.modal__form.form
						.form__fields
							.section-ask-question__form-field.form__field
								.form__field-title.caption Ваше имя
								input(type="text", required, name="name", minlength="3").form__field-input
							.section-ask-question__form-field.form__field
								.form__field-title.caption Номер телефона
								input(type="tel", required, name="phone", placeholder="+7 (___) ___-__-__").form__field-input
							button.btn.btn-blue.btn-m.form__field-submit(type="submit") Оставить заявку
						.form__footer.caption
							| Нажимая на кнопку «Задать вопрос», Вы даете согласие на обработку 
							a(href="#") персональных данных
