// Modal Success
#modal-success.modal
	.modal__window.modal-success
		.modal__close-wrap
			button.modal__close-btn.js-modal-close
		.container
			.modal-success__body
				img.modal-success__img(src="./images/sprites/svg/success.svg", alt="success")
				h2.modal-success__title.h2-t Заявка отправлена
				p.modal-success__subtitle.text-m-compact Спасибо за обращение. <br> Менеджер скоро с вами свяжется
				button.btn.btn-blue.btn-m.modal-success__close.js-modal-close.button-text-m Закрыть форму
