// Modal Request
#modal-phone.modal
	.modal__window.modal-phone
		.modal__close-wrap
			button.modal__close-btn.js-modal-close
		.container
			.modal-phone__body
				.footer-content__column
					.footer-content__info
						a.footer-content__info-contact(href="tel:+74993467422") +7 (499) 346-74-22
						p.footer-content__info-note.text-m-compact Звонок бесплатный
					.footer-content__info
						a.footer-content__info-contact(href="mailto: info@santey.org") info@santey.org
						p.footer-content__info-note.text-m-compact По всем вопросам
					.footer-content__info
						.footer-content__info-socials
							a.footer-content__info-socials-btn.social-btn.whats-app-btn(target="_blank", href="#")
								+svg('whats-app-icon')
							a.footer-content__info-socials-btn.social-btn.vk-app-btn(target="_blank", href="#")
								+svg('vk-icon')
