.modal {
	display: none;
	position: fixed;
	z-index: 888;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow-y: auto;

	&--show {
		display: flex;
	}

	&__window {
		position: fixed;
		bottom: 0;
		width: 100%;
		//max-height: 70%;
		//overflow-y: auto;
		background-color: rgb(255, 255, 255);
		border-radius: 12px 12px 0px 0px;
		box-shadow: rgba(33, 37, 41, 0.12) 0px 0px 48px 0px;
		transform: translateY(200px);
		transition: transform 0.2s ease-in-out 0s, opacity 0.4s ease 0s, -webkit-transform 0.2s ease-in-out 0s;
		opacity: 0;
		pointer-events: all;

		&::-webkit-scrollbar {
			width: 0;
		}

		//@include mobile {
		//	max-width: 100% !important;
		//	transform: translateY(100%);
		//	margin: auto auto 0;
		//	opacity: 1;
		//	padding: 18px 16px 16px;
		//	border-radius: 16px 16px 0 0;
		//	min-height: 60%;
		//}

		.modal--shown & {
			opacity: 1;
			transform: translateY(0);

		}
	}

	&__title {
		margin: 0 0 16px 0;

		@include mobile() {
			margin: 0 0 32px 0;
		}
	}

	&__text {
		color: $color-gray-800;
		margin: 0 0 32px 0;

		@include mobile() {
			display: none;
		}

		a {
			text-decoration-line: underline;
			text-underline-offset: 3px;
		}
	}

	&__socials {
		display: flex;
		gap: 12px;

		@include mobile() {
			display: none;
		}
	}

	&__close-wrap {
		position: fixed;
		top: 16px;
		right: 16px;
		height: 100%;
		z-index: 66;
	}

	&__close-btn {
		cursor: pointer;
		position: sticky;
		top: 16px;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background-image: url("../images/sprites/svg/close.svg");
		background-color: #fff;
		border: 1px solid #E9ECEF;
		background-size: 24px 24px;
		background-position: center;
		background-repeat: no-repeat;
		backdrop-filter: blur(16px);
		transition: background-color $duration-normal, border $duration-normal, background-image $duration-normal;

		&:hover {
			background: #2E85FF;
			border: 1px solid #2E85FF;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("../images/sprites/svg/close-white.svg");
		}

	}

	&__body {
		position: relative;
		display: flex;
		padding: 80px 0 200px;
		gap: 10%;

		@include laptop() {
			padding: 80px 0;
		}

		@include tablet() {
			flex-direction: column;
			gap: 40px;
		}

		@include mobile() {
			gap: 0;
			padding: 32px 0 80px;
		}

		&-left {
			flex: 0 1 505px;

			@include tablet() {
				flex: 0 1 auto;
			}
		}

		&-right {
			flex: 0 1 440px;

			@include tablet() {
				flex: 0 1 auto;
			}
		}
	}
}
