extends pug/base

prepend vars
	//-

append vars
	- link.icon16x16 = './images/favicon/favicon-16x16.png'
	- link.icon32x32 = './images/favicon/favicon-32x32.png'
	- link.icon = './favicon.ico'

append meta
	meta(name="application-name" content="&nbsp;")
	meta(name="msapplication-TileColor" content="#FFFFFF")
	meta(name="msapplication-TileImage" content="mstile-144x144.png")

block content
	//- include pug/data
		//- .site
	include pug/components/header
	main.main
		//include pug/pages/main
		include pug/sections/section-primary
		include pug/sections/section-about
		include pug/sections/section-services
		include pug/sections/section-problems
		include pug/sections/section-partners
		include pug/sections/section-procedure
		include pug/sections/section-request
		include pug/sections/section-orders
		include pug/sections/section-ask-question
	include pug/components/footer
