extends pug/base

prepend vars
	//-

append vars
	//-

block content
	//- include pug/data
		//- .site
	include pug/components/header
	main.main
		//include pug/pages/main
		include pug/sections/section-primary
		include pug/sections/section-about
		include pug/sections/section-services
		include pug/sections/section-problems
		include pug/sections/section-partners
		include pug/sections/section-procedure
		include pug/sections/section-request
		include pug/sections/section-orders
		include pug/sections/section-ask-question
	include pug/components/footer
