// stylelint-disable scss/dollar-variable-empty-line-before

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-golos: 'Golos', sans-serif;
$font-family-inter: 'Inter', sans-serif;
$font-family-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-family-sf-pro: 'SF Pro', sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.3s ease-in-out;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;
$easing-in-out: ease-in-out;

// Settings
$desktop: 1025px;
$desktop-xs: 1200px;
$desktop-xm: 1650px;
$desktop-xl: 1800px;
$laptop: 1440px;
$tablet: 768px;
$mobile: 564px;
$desktop-vh: 750px;
